body{
    font-family: 'Inter', sans-serif;
}

.pole {
    width: 340px;
    height: 450px;
    background: white; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    margin: 135px auto;
}

.entrance {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 50px 0 25px;
}

.pass-log {
    margin-left: 30px;
    width: 280px;
    margin-top: 16px;
}

.pass-log-hr {
    width: 280px;
    margin: 3px 0;
    border: 1px solid #3369F3;
    
}

.pass-log-p {
    color: grey;
    font-size: 9px;
}
button {
    background-color: #3369F3;
    width: 280px;
    height: 37px;
    margin: 110px auto auto;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

.autorization {
    text-align: center;
}

a {
    text-decoration: none;
    color: #3369F3;

}
.no-account {
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
}

input {
    outline: none;
    border: none;
}